.spot-details-card {
    width: 1000px;
}

.spot-details-card-header {

}

.image-row {
    height: 30em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    box-sizing: content-box;
}

.preview-image {
    width: 50%;
    height: 29.5em;
}

.image-collage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 48%;
    gap: 10px;
    margin: 0 10px;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}

.collage-img {
    flex: 1 1 48%;
    width: 30%;
    height: 100%;
}

.spot-details-card-about {
    display: flex;
    justify-content: space-between;
}

.spot-details-card-reserve {
    box-shadow: 5px 4px black;
    border: 2.5px solid black;
    color: white;
    margin-left: 1em;
    margin-bottom: 1em;
    background: #ff385c;
    padding: 0.75em;
    width: 92%
}

.spot-details-card-about-blurb {

}

.spot-details-card-about-card {
    border-radius: 20px;
    border: 2.5px solid black;
    width: 25em;
    align-content: center;
}

.spot-details-card-about-card-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

.spot-details-card-reviews {

}

#post-review-modal {
    box-shadow: 5px 4px black;
    border: 2.5px solid black;
    color: white;
    margin-left: 1em;
    margin-bottom: 1em;
    background: darkgrey;
}
