.dyb {
    box-shadow: 5px 4px black;
    border: 2.5px solid black;
    color: white;
    background: #ff385c;
}

.dnbutton {
    box-shadow: 5px 4px black;
    border: 2.5px solid black;
    color: white;
    margin-bottom: 1em;
    background: darkgrey;;
}
