#manage-spots {
    width: 100vw;
}

#manage-spots-header {
    align-items: flex-start;
    width: 100vw;
}

#manage-spots-heading {
    margin-left: 60px;
    margin-bottom: 0;
}

#create-spot-button {
    margin-left: 60px;
    margin-bottom: 30px;
}

#manage-spots-index {
    display: grid;
    grid-template-columns: calc(100vw - 40px);
    row-gap: 40px;
    column-gap: 20px;
    margin: 20px;
    width: calc(100vw - 125px);
    max-width: 5000px;
}

@media (min-width: 550px) {
    #manage-spots-index {
        grid-template-columns: repeat(2, calc(50% - 10px));
    }
}

@media (min-width: 950px) {
    #manage-spots-index {
        grid-template-columns: repeat(3, calc(33.33% - 13px));
    }
}

@media (min-width: 1024px) {
    #manage-spots-index {
        grid-template-columns: repeat(4, calc(25% - 15px));
    }
}
