/* TODO: Add styling */
.signup {
    display: flex;
    align-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.error {
    color: #ff385c;
    height: 20px;
}

button:disabled {
    background-color: lightgray;
}
