#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

#modal-content {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    border: 5px solid black;
    z-index: 5;
}

#modal-content input {
    background-color: #E8F0FE;
    margin: 10px;
    width: 25em;
    border: 2.5px solid black;
}

#modal-content textarea {
    background-color: #E8F0FE;
    width: 25em;
    border: 2.5px solid black;
}

#modal-content button {
    margin: 10px;
    width: 96%;
    padding: 5% 0;
}

#modal h1 {
    margin: 0;
}
