/* TODO: Add styling */
.csf {

}

.csf-1 {

}

.csf-2 {

}

.csf-3 {

}

.csf-4 {

}

.csf-5 {

}

.csf-label {
    display: flex;
    direction: column;
}

.csf-error {
    color: #ff385c;
}

.csf-error-span {
    color: #ff385c;
}
