.spot-index-card {
    flex: 0 0 20vw;
    margin: 10px;
    margin-bottom: 0;
    width: 20vw;
    min-width: 175px;
    max-width: 20vw;
}

.spot-index-card:hover {
    cursor: pointer;
}

.spot-image {
    border-radius: 20px;
    min-height: 10em;
    max-height: 15vh;
    width: 20vw;
    min-width: 175px;
    max-width: 20vw;
}

.spot-link {
    width: 20vw;
    min-width: 175px;
    max-width: 20vw;
    flex: 0 0 20vw;
}

.spot-card-line-1 {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 10px 0;
}

.spot-rating {
    flex-direction: row;
}

.spot-card-line-2 {
    flex-direction: row;
    width: 100%;
}

.spot-location {
    overflow: hidden;
    height: 20px;
}
