#filter-modal-header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid lightgrey;
    color: #222222;
}

.close-button {
    all: unset;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    margin-left: 24px;
    color: #222222;
}

.close-button:hover {
    cursor: pointer;
    background-color: rgba(230, 230, 230, 0.904);
}
