.review-card {
    margin-bottom: 20px;
}

.review-card * {
    margin: 10px 0;
}

#review-date {
    margin: 0;
    color: darkgray;
}

#review-text {
    overflow-wrap: anywhere;
    margin-bottom: 0;
}

.review-buttons-container {
    flex-direction: row;
    margin: 0 !important;
}

.urb {
    margin-right: 15px;
}
