nav {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    border-bottom: 2px solid lightgrey;
    font-size: 1.2em;
    font-weight: bold;
}


#nav-right {
    gap: 20px;
    align-items: center;
    color: #222222;
    flex-direction: row;
}

#logo {
    align-items: center; /* Check on logo alignment!!!!!!!!!!! */
    color: #ff385c;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 18pt;
    flex-direction: row;
}
