#pb {
    border-radius: 20px;
    padding: 10px 20px;
    flex-direction: row;
}

#pb:hover {
    cursor: pointer;
    box-shadow: -2px 4px 3px lightgray;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    font-size: medium;
    justify-content: center;
}

.hidden {
    display: none;
}

#pb .fa-solid {
    margin: 5px;
}

.profile-dropdown {
    border: 2.5px solid black;
    box-shadow: 1px 1px black;
    color: black;
    position: absolute;
    background-color: white;
    padding: 10px;
    right: 20px;
    top: 3.4em;
}

#profile-logout-button {
    border-radius: 25px;
    color: white;
    background-color: darkgray;
    cursor: pointer;
    display: flex;
    padding: 5px 25px;
    margin: 0 auto;
}

#dropdown-text {
    align-items: flex-start;
}
